In [2]:
import pandas as pd

In [8]:
!head -n 20 baby_names.csv

Top Five Baby Names,,,,,,,,,,
Source: http://www.ssa.gov/oact/babynames/top5names.html,,,,,,,,,,
Note: data includes top five male and female baby names between 1914 and 2013,,,,,,,,,,
,,,,,,,,,,
,,,,,,,,,,
,,,,,,,,,,
,,,,,,,,,,
,,,,,,,,,,
,Females,,,,,Males,,,,
Year,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5
2013,Sophia,Emma,Olivia,Isabella,Ava,Noah,Liam,Jacob,Mason,William
2012,Sophia,Emma,Isabella,Olivia,Ava,Jacob,Mason,Ethan,Noah,William
2011,Sophia,Isabella,Emma,Olivia,Ava,Jacob,Mason,William,Jayden,Noah
2010,Isabella,Sophia,Emma,Olivia,Ava,Jacob,Ethan,Michael,Jayden,William
2009,Isabella,Emma,Olivia,Sophia,Ava,Jacob,Ethan,Michael,Alexander,William
2008,Emma,Isabella,Emily,Olivia,Ava,Jacob,Michael,Ethan,Joshua,Daniel
2007,Emily,Isabella,Emma,Ava,Madison,Jacob,Michael,Ethan,Joshua,Daniel
2006,Emily,Emma,Madison,Isabella,Ava,Jacob,Michael,Joshua,Ethan,Matthew
2005,Emily,Emma,Madison,Abigail,Olivia,Jacob,Michael,Joshua,Matthew,Ethan
2004,Emily,Emma,Madison,Olivia,Hannah,Jacob,Michael,Joshua,Matthew,Ethan

# Cleaning data

In [1]:
!uchardet baby_names.csv

windows-1252

In [14]:
genders = ('female', 'male')
ranks = ('1', '2', '3', '4', '5')
columns = [(gender, rank) for gender in genders for rank in ranks]
print(columns)
index = pd.MultiIndex.from_tuples(columns)
index

[('female', '1'), ('female', '2'), ('female', '3'), ('female', '4'), ('female', '5'), ('male', '1'), ('male', '2'), ('male', '3'), ('male', '4'), ('male', '5')]

MultiIndex(levels=[['female', 'male'], ['1', '2', '3', '4', '5']],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4]])

In [16]:
baby_names = pd.read_csv('baby_names.csv', encoding='windows-1252',
                         header=9, index_col=0, names=index)
baby_names.head(10)

        female                                          male           \
             1         2         3         4        5      1        2
2013    Sophia      Emma    Olivia  Isabella      Ava   Noah     Liam
2012    Sophia      Emma  Isabella    Olivia      Ava  Jacob    Mason
2011    Sophia  Isabella      Emma    Olivia      Ava  Jacob    Mason
2010  Isabella    Sophia      Emma    Olivia      Ava  Jacob    Ethan
2009  Isabella      Emma    Olivia    Sophia      Ava  Jacob    Ethan
2008      Emma  Isabella     Emily    Olivia      Ava  Jacob  Michael
2007     Emily  Isabella      Emma       Ava  Madison  Jacob  Michael
2006     Emily      Emma   Madison  Isabella      Ava  Jacob  Michael
2005     Emily      Emma   Madison   Abigail   Olivia  Jacob  Michael
2004     Emily      Emma   Madison    Olivia   Hannah  Jacob  Michael


            3          4        5
2013    Jacob      Mason  William
2012    Ethan       Noah  William
2011  William     Jayden     Noah
2010  Michael     Jayden  William
2009  Michael  Alexander  William
2008    Ethan     Joshua   Daniel
2007    Ethan     Joshua   Daniel
2006   Joshua      Ethan  Matthew
2005   Joshua    Matthew    Ethan
2004   Joshua    Matthew    Ethan

In [20]:
baby_names = baby_names[:-3]

In [29]:
baby_names['female'].head()

             1         2         3         4    5
2013    Sophia      Emma    Olivia  Isabella  Ava
2012    Sophia      Emma  Isabella    Olivia  Ava
2011    Sophia  Isabella      Emma    Olivia  Ava
2010  Isabella    Sophia      Emma    Olivia  Ava
2009  Isabella      Emma    Olivia    Sophia  Ava

In [30]:
help(baby_names.stack)

Help on method stack in module pandas.core.frame:

stack(level=-1, dropna=True) method of pandas.core.frame.DataFrame instance
    Pivot a level of the (possibly hierarchical) column labels, returning a
    DataFrame (or Series in the case of an object with a single level of
    column labels) having a hierarchical index with a new inner-most level
    of row labels.
    The level involved will automatically get sorted.

    Parameters
    ----------
    level : int, string, or list of these, default last level
        Level(s) to stack, can pass level name
    dropna : boolean, default True
        Whether to drop rows in the resulting Frame/Series with no valid
        values

    Examples
    ----------
    >>> s
         a   b
    one  1.  2.
    two  3.  4.

    >>> s.stack()
    one a    1
        b    2
    two a    3
        b    4

    Returns
    -------
    stacked : DataFrame or Series

In [41]:
baby_names.stack().head(20)

          female     male
2013 1    Sophia     Noah
     2      Emma     Liam
     3    Olivia    Jacob
     4  Isabella    Mason
     5       Ava  William
2012 1    Sophia    Jacob
     2      Emma    Mason
     3  Isabella    Ethan
     4    Olivia     Noah
     5       Ava  William
2011 1    Sophia    Jacob
     2  Isabella    Mason
     3      Emma  William
     4    Olivia   Jayden
     5       Ava     Noah
2010 1  Isabella    Jacob
     2    Sophia    Ethan
     3      Emma  Michael
     4    Olivia   Jayden
     5       Ava  William

In [43]:
baby_names.stack(level=0).head(20)

                    1         2         3          4        5
2013 female    Sophia      Emma    Olivia   Isabella      Ava
     male        Noah      Liam     Jacob      Mason  William
2012 female    Sophia      Emma  Isabella     Olivia      Ava
     male       Jacob     Mason     Ethan       Noah  William
2011 female    Sophia  Isabella      Emma     Olivia      Ava
     male       Jacob     Mason   William     Jayden     Noah
2010 female  Isabella    Sophia      Emma     Olivia      Ava
     male       Jacob     Ethan   Michael     Jayden  William
2009 female  Isabella      Emma    Olivia     Sophia      Ava
     male       Jacob     Ethan   Michael  Alexander  William
2008 female      Emma  Isabella     Emily     Olivia      Ava
     male       Jacob   Michael     Ethan     Joshua   Daniel
2007 female     Emily  Isabella      Emma        Ava  Madison
     male       Jacob   Michael     Ethan     Joshua   Daniel
2006 female     Emily      Emma   Madison   Isabella      Ava
     male       Jacob   Michael    Joshua      Ethan  Matthew
2005 female     Emily      Emma   Madison    Abigail   Olivia
     male       Jacob   Michael    Joshua    Matthew    Ethan
2004 female     Emily      Emma   Madison     Olivia   Hannah
     male       Jacob   Michael    Joshua    Matthew    Ethan

In [46]:
baby_names.stack(level=0).stack(level=0)

2013  female  1      Sophia
              2        Emma
              3      Olivia
              4    Isabella
              5         Ava
      male    1        Noah
              2        Liam
              3       Jacob
              4       Mason
              5     William
2012  female  1      Sophia
              2        Emma
              3    Isabella
              4      Olivia
              5         Ava
      male    1       Jacob
              2       Mason
              3       Ethan
              4        Noah
              5     William
2011  female  1      Sophia
              2    Isabella
              3        Emma
              4      Olivia
              5         Ava
      male    1       Jacob
              2       Mason
              3     William
              4      Jayden
              5        Noah
                     ...
1916  female  1        Mary
              2       Helen
              3     Dorothy
              4    Margaret
              5        Ruth
      male    1        John
              2     William
              3       James
              4      Robert
              5      Joseph
1915  female  1        Mary
              2       Helen
              3     Dorothy
              4    Margaret
              5        Ruth
      male    1        John
              2     William
              3       James
              4      Robert
              5      Joseph
1914  female  1        Mary
              2       Helen
              3     Dorothy
              4    Margaret
              5        Ruth
      male    1        John
              2     William
              3       James
              4      Robert
              5      Joseph
dtype: object

`stack()` takes a header row (column labels) and moves them to the index. If this is the last header row, then the dataframe becomes a series.

**You can't `stack()` a series!**

In [57]:
baby_names[:5]

        female                                      male                  \
             1         2         3         4    5      1      2        3
2013    Sophia      Emma    Olivia  Isabella  Ava   Noah   Liam    Jacob
2012    Sophia      Emma  Isabella    Olivia  Ava  Jacob  Mason    Ethan
2011    Sophia  Isabella      Emma    Olivia  Ava  Jacob  Mason  William
2010  Isabella    Sophia      Emma    Olivia  Ava  Jacob  Ethan  Michael
2009  Isabella      Emma    Olivia    Sophia  Ava  Jacob  Ethan  Michael


              4        5
2013      Mason  William
2012       Noah  William
2011     Jayden     Noah
2010     Jayden  William
2009  Alexander  William

In [58]:
baby_names = baby_names.stack(level=0)

In [59]:
baby_names

                    1         2         3          4            5
2013 female    Sophia      Emma    Olivia   Isabella          Ava
     male        Noah      Liam     Jacob      Mason      William
2012 female    Sophia      Emma  Isabella     Olivia          Ava
     male       Jacob     Mason     Ethan       Noah      William
2011 female    Sophia  Isabella      Emma     Olivia          Ava
     male       Jacob     Mason   William     Jayden         Noah
2010 female  Isabella    Sophia      Emma     Olivia          Ava
     male       Jacob     Ethan   Michael     Jayden      William
2009 female  Isabella      Emma    Olivia     Sophia          Ava
     male       Jacob     Ethan   Michael  Alexander      William
2008 female      Emma  Isabella     Emily     Olivia          Ava
     male       Jacob   Michael     Ethan     Joshua       Daniel
2007 female     Emily  Isabella      Emma        Ava      Madison
     male       Jacob   Michael     Ethan     Joshua       Daniel
2006 female     Emily      Emma   Madison   Isabella          Ava
     male       Jacob   Michael    Joshua      Ethan      Matthew
2005 female     Emily      Emma   Madison    Abigail       Olivia
     male       Jacob   Michael    Joshua    Matthew        Ethan
2004 female     Emily      Emma   Madison     Olivia       Hannah
     male       Jacob   Michael    Joshua    Matthew        Ethan
2003 female     Emily      Emma   Madison     Hannah       Olivia
     male       Jacob   Michael    Joshua    Matthew       Andrew
2002 female     Emily   Madison    Hannah       Emma       Alexis
     male       Jacob   Michael    Joshua    Matthew        Ethan
2001 female     Emily   Madison    Hannah     Ashley       Alexis
     male       Jacob   Michael   Matthew     Joshua  Christopher
2000 female     Emily    Hannah   Madison     Ashley        Sarah
     male       Jacob   Michael   Matthew     Joshua  Christopher
1999 female     Emily    Hannah    Alexis      Sarah     Samantha
     male       Jacob   Michael   Matthew     Joshua     Nicholas
...               ...       ...       ...        ...          ...
1928 female      Mary     Betty   Dorothy      Helen     Margaret
     male      Robert      John     James    William      Charles
1927 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John     James    William      Charles
1926 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John     James    William      Charles
1925 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John   William      James      Charles
1924 female      Mary   Dorothy     Helen      Betty     Margaret
     male      Robert      John   William      James      Charles
1923 female      Mary   Dorothy     Helen   Margaret        Betty
     male        John    Robert   William      James      Charles
1922 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John    Robert   William      James      Charles
1921 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John    Robert   William      James      Charles
1920 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John   William    Robert      James      Charles
1919 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert      Charles
1918 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert      Charles
1917 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1916 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1915 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1914 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph

[200 rows x 5 columns]

In [63]:
# it is possible to undo a stack

baby_names.unstack().stack(level=0).unstack()

        female                                             male               \
             1         2         3         4         5        1            2
2013    Sophia      Emma    Olivia  Isabella       Ava     Noah         Liam
2012    Sophia      Emma  Isabella    Olivia       Ava    Jacob        Mason
2011    Sophia  Isabella      Emma    Olivia       Ava    Jacob        Mason
2010  Isabella    Sophia      Emma    Olivia       Ava    Jacob        Ethan
2009  Isabella      Emma    Olivia    Sophia       Ava    Jacob        Ethan
2008      Emma  Isabella     Emily    Olivia       Ava    Jacob      Michael
2007     Emily  Isabella      Emma       Ava   Madison    Jacob      Michael
2006     Emily      Emma   Madison  Isabella       Ava    Jacob      Michael
2005     Emily      Emma   Madison   Abigail    Olivia    Jacob      Michael
2004     Emily      Emma   Madison    Olivia    Hannah    Jacob      Michael
2003     Emily      Emma   Madison    Hannah    Olivia    Jacob      Michael
2002     Emily   Madison    Hannah      Emma    Alexis    Jacob      Michael
2001     Emily   Madison    Hannah    Ashley    Alexis    Jacob      Michael
2000     Emily    Hannah   Madison    Ashley     Sarah    Jacob      Michael
1999     Emily    Hannah    Alexis     Sarah  Samantha    Jacob      Michael
1998     Emily    Hannah  Samantha    Ashley     Sarah  Michael        Jacob
1997     Emily   Jessica    Ashley     Sarah    Hannah  Michael        Jacob
1996     Emily   Jessica    Ashley     Sarah  Samantha  Michael      Matthew
1995   Jessica    Ashley     Emily  Samantha     Sarah  Michael      Matthew
1994   Jessica    Ashley     Emily  Samantha     Sarah  Michael  Christopher
1993   Jessica    Ashley     Sarah  Samantha     Emily  Michael  Christopher
1992    Ashley   Jessica    Amanda  Brittany     Sarah  Michael  Christopher
1991    Ashley   Jessica  Brittany    Amanda  Samantha  Michael  Christopher
1990   Jessica    Ashley  Brittany    Amanda  Samantha  Michael  Christopher
1989   Jessica    Ashley  Brittany    Amanda     Sarah  Michael  Christopher
1988   Jessica    Ashley    Amanda     Sarah  Jennifer  Michael  Christopher
1987   Jessica    Ashley    Amanda  Jennifer     Sarah  Michael  Christopher
1986   Jessica    Ashley    Amanda  Jennifer     Sarah  Michael  Christopher
1985   Jessica    Ashley  Jennifer    Amanda     Sarah  Michael  Christopher
1984  Jennifer   Jessica    Ashley    Amanda     Sarah  Michael  Christopher
...        ...       ...       ...       ...       ...      ...          ...
1943      Mary   Barbara  Patricia     Linda     Carol    James       Robert
1942      Mary   Barbara  Patricia     Linda     Carol    James       Robert
1941      Mary   Barbara  Patricia     Carol     Linda    James       Robert
1940      Mary   Barbara  Patricia    Judith     Betty    James       Robert
1939      Mary   Barbara  Patricia     Betty   Shirley   Robert        James
1938      Mary   Barbara  Patricia     Betty   Shirley   Robert        James
1937      Mary   Barbara  Patricia   Shirley     Betty   Robert        James
1936      Mary   Shirley   Barbara     Betty  Patricia   Robert        James
1935      Mary   Shirley   Barbara     Betty  Patricia   Robert        James
1934      Mary     Betty   Barbara   Shirley   Dorothy   Robert        James
1933      Mary     Betty   Barbara   Dorothy      Joan   Robert        James
1932      Mary     Betty   Barbara   Dorothy      Joan   Robert        James
1931      Mary     Betty   Dorothy   Barbara      Joan   Robert        James
1930      Mary     Betty   Dorothy     Helen  Margaret   Robert        James
1929      Mary     Betty   Dorothy     Helen  Margaret   Robert        James
1928      Mary     Betty   Dorothy     Helen  Margaret   Robert         John
1927      Mary   Dorothy     Betty     Helen  Margaret   Robert         John
1926      Mary   Dorothy     Betty     Helen  Margaret   Robert         John
1925      Mary   Dorothy     Betty     Helen  Margaret   Robert         John
1924      Mary   Dorothy     Helen     Betty  Margaret   Robert         John
1923      Mary   Dorothy     Helen  Margaret     Betty     John       Robert
1922      Mary   Dorothy     Helen  Margaret      Ruth     John       Robert
1921      Mary   Dorothy     Helen  Margaret      Ruth     John       Robert
1920      Mary   Dorothy     Helen  Margaret      Ruth     John      William
1919      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1918      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1917      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1916      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1915      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1914      Mary     Helen   Dorothy  Margaret      Ruth     John      William


                3            4            5
2013        Jacob        Mason      William
2012        Ethan         Noah      William
2011      William       Jayden         Noah
2010      Michael       Jayden      William
2009      Michael    Alexander      William
2008        Ethan       Joshua       Daniel
2007        Ethan       Joshua       Daniel
2006       Joshua        Ethan      Matthew
2005       Joshua      Matthew        Ethan
2004       Joshua      Matthew        Ethan
2003       Joshua      Matthew       Andrew
2002       Joshua      Matthew        Ethan
2001      Matthew       Joshua  Christopher
2000      Matthew       Joshua  Christopher
1999      Matthew       Joshua     Nicholas
1998      Matthew       Joshua  Christopher
1997      Matthew  Christopher       Joshua
1996        Jacob  Christopher       Joshua
1995  Christopher        Jacob       Joshua
1994      Matthew       Joshua        Tyler
1993      Matthew       Joshua        Tyler
1992      Matthew       Joshua       Andrew
1991      Matthew       Joshua       Andrew
1990      Matthew       Joshua       Daniel
1989      Matthew       Joshua        David
1988      Matthew       Joshua       Andrew
1987      Matthew       Joshua        David
1986      Matthew       Joshua        David
1985      Matthew       Joshua       Daniel
1984      Matthew       Joshua        David
...           ...          ...          ...
1943         John      William      Richard
1942         John      William      Richard
1941         John      William      Richard
1940         John      William      Richard
1939         John      William      Richard
1938         John      William      Richard
1937         John      William      Richard
1936         John      William      Richard
1935         John      William      Richard
1934         John      William      Richard
1933         John      William      Richard
1932         John      William      Richard
1931         John      William      Richard
1930         John      William      Richard
1929         John      William      Charles
1928        James      William      Charles
1927        James      William      Charles
1926        James      William      Charles
1925      William        James      Charles
1924      William        James      Charles
1923      William        James      Charles
1922      William        James      Charles
1921      William        James      Charles
1920       Robert        James      Charles
1919        James       Robert      Charles
1918        James       Robert      Charles
1917        James       Robert       Joseph
1916        James       Robert       Joseph
1915        James       Robert       Joseph
1914        James       Robert       Joseph

[100 rows x 10 columns]

In [64]:
baby_names.head()

                  1         2         3         4        5
2013 female  Sophia      Emma    Olivia  Isabella      Ava
     male      Noah      Liam     Jacob     Mason  William
2012 female  Sophia      Emma  Isabella    Olivia      Ava
     male     Jacob     Mason     Ethan      Noah  William
2011 female  Sophia  Isabella      Emma    Olivia      Ava

In [65]:
baby_names.xs('2013')

             1     2       3         4        5
female  Sophia  Emma  Olivia  Isabella      Ava
male      Noah  Liam   Jacob     Mason  William

In [66]:
help(baby_names.xs)

Help on method xs in module pandas.core.generic:

xs(key, axis=0, level=None, copy=None, drop_level=True) method of pandas.core.frame.DataFrame instance
    Returns a cross-section (row(s) or column(s)) from the Series/DataFrame.
    Defaults to cross-section on the rows (axis=0).

    Parameters
    ----------
    key : object
        Some label contained in the index, or partially in a MultiIndex
    axis : int, default 0
        Axis to retrieve cross-section on
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.
    copy : boolean [deprecated]
        Whether to make a copy of the data
    drop_level : boolean, default True
        If False, returns object with same levels as self.

    Examples
    --------
    >>> df
       A  B  C
    a  4  5  2
    b  4  0  9
    c  9  7  3
    >>> df.xs('a')
    A    4
    B    5
    C    2
    Name: a
    >>> df.xs('C', axis=1)
    a    2
    b    9
    c    3
    Name: C

    >>> df
                        A  B  C  D
    first second third
    bar   one    1      4  1  8  9
          two    1      7  5  5  0
    baz   one    1      6  6  8  0
          three  2      5  3  5  3
    >>> df.xs(('baz', 'three'))
           A  B  C  D
    third
    2      5  3  5  3
    >>> df.xs('one', level=1)
                 A  B  C  D
    first third
    bar   1      4  1  8  9
    baz   1      6  6  8  0
    >>> df.xs(('baz', 2), level=[0, 'third'])
            A  B  C  D
    second
    three   5  3  5  3

    Returns
    -------
    xs : Series or DataFrame

    Notes
    -----
    xs is only for getting, not setting values.

    MultiIndex Slicers is a generic way to get/set values on any level or levels
    it is a superset of xs functionality, see :ref:`MultiIndex Slicers <advanced.mi_slicers>`

We can combine cross section levels together

In [87]:
baby_names.xs(['2013', 'female'])['3']

'Olivia'

### Editing dataframes

In [94]:
baby_names['1'][:1] = 'Abigail' # this works

baby_names['1'][0] = 'Abigail' # this also works

In [95]:
baby_names['1'][:4] = 'George'

In [97]:
baby_names['1'] = 'George'

In [104]:
import random

baby_names['2'] = [random.choice(['Jake', 'Sally', 'Sue', 'Ben']) for _ in range(len(baby_names))]

In [105]:
baby_names

                  1      2         3          4            5
2013 female  George   Jake    Olivia   Isabella          Ava
     male    George  Sally     Jacob      Mason      William
2012 female  George    Ben  Isabella     Olivia          Ava
     male    George   Jake     Ethan       Noah      William
2011 female  George   Jake      Emma     Olivia          Ava
     male    George    Sue   William     Jayden         Noah
2010 female  George    Ben      Emma     Olivia          Ava
     male    George    Sue   Michael     Jayden      William
2009 female  George    Ben    Olivia     Sophia          Ava
     male    George  Sally   Michael  Alexander      William
2008 female  George  Sally     Emily     Olivia          Ava
     male    George    Sue     Ethan     Joshua       Daniel
2007 female  George   Jake      Emma        Ava      Madison
     male    George    Sue     Ethan     Joshua       Daniel
2006 female  George  Sally   Madison   Isabella          Ava
     male    George  Sally    Joshua      Ethan      Matthew
2005 female  George  Sally   Madison    Abigail       Olivia
     male    George  Sally    Joshua    Matthew        Ethan
2004 female  George  Sally   Madison     Olivia       Hannah
     male    George   Jake    Joshua    Matthew        Ethan
2003 female  George  Sally   Madison     Hannah       Olivia
     male    George    Ben    Joshua    Matthew       Andrew
2002 female  George   Jake    Hannah       Emma       Alexis
     male    George   Jake    Joshua    Matthew        Ethan
2001 female  George  Sally    Hannah     Ashley       Alexis
     male    George  Sally   Matthew     Joshua  Christopher
2000 female  George  Sally   Madison     Ashley        Sarah
     male    George  Sally   Matthew     Joshua  Christopher
1999 female  George  Sally    Alexis      Sarah     Samantha
     male    George  Sally   Matthew     Joshua     Nicholas
...             ...    ...       ...        ...          ...
1928 female  George    Sue   Dorothy      Helen     Margaret
     male    George    Ben     James    William      Charles
1927 female  George   Jake     Betty      Helen     Margaret
     male    George  Sally     James    William      Charles
1926 female  George  Sally     Betty      Helen     Margaret
     male    George    Sue     James    William      Charles
1925 female  George   Jake     Betty      Helen     Margaret
     male    George    Sue   William      James      Charles
1924 female  George  Sally     Helen      Betty     Margaret
     male    George    Ben   William      James      Charles
1923 female  George    Ben     Helen   Margaret        Betty
     male    George    Ben   William      James      Charles
1922 female  George   Jake     Helen   Margaret         Ruth
     male    George   Jake   William      James      Charles
1921 female  George  Sally     Helen   Margaret         Ruth
     male    George    Ben   William      James      Charles
1920 female  George    Sue     Helen   Margaret         Ruth
     male    George    Sue    Robert      James      Charles
1919 female  George    Sue   Dorothy   Margaret         Ruth
     male    George    Ben     James     Robert      Charles
1918 female  George    Sue   Dorothy   Margaret         Ruth
     male    George  Sally     James     Robert      Charles
1917 female  George  Sally   Dorothy   Margaret         Ruth
     male    George    Ben     James     Robert       Joseph
1916 female  George   Jake   Dorothy   Margaret         Ruth
     male    George    Sue     James     Robert       Joseph
1915 female  George   Jake   Dorothy   Margaret         Ruth
     male    George  Sally     James     Robert       Joseph
1914 female  George    Ben   Dorothy   Margaret         Ruth
     male    George    Ben     James     Robert       Joseph

[200 rows x 5 columns]